@model UserProfileDto
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout_task.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="~/Css/StyleUserProfile.css" rel="stylesheet" />

<div>
    <form method="post" asp-action="UserProfileSettingPost" asp-controller="User">
        <div class="container rounded-md bg-white mt-3" style="opacity: 0.95;">
            <div class="row">
                <div class="col-md-4 border-right custom-container">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        <span class="font-weight-bold">@Model.UserName</span><span class="text-black-50">@Model.Email</span><span> </span></div>
                </div>
                <div class="col-md-8 border-right custom-container">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right font-weight-bold">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels" asp-for="FirstName">Name</label><input type="text" class="form-control font-weight-bold" placeholder="first name" asp-for="FirstName"></div>
                            <div class="col-md-6"><label class="labels" asp-for="LastName">Surname</label><input type="text" class="form-control font-weight-bold" asp-for="LastName" placeholder="surname"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels" asp-for="UserName">UserName</label><input type="text" class="form-control font-weight-bold" placeholder="UserName" asp-for="UserName" required></div>
                            <div class="col-md-12"><label class="labels" asp-for="NumberPhone">Mobile Number</label><input type="number" class="form-control font-weight-bold" placeholder="enter phone number" asp-for="NumberPhone"></div>
                            <div class="col-md-12"><label class="labels" asp-for="Age">Age</label><input type="number" class="form-control font-weight-bold" placeholder="Age" asp-for="Age" disabled></div>
                            <div class="col-md-12"><label class="labels" asp-for="DateOfBirth">Date of birth</label><input type="date" class="form-control font-weight-bold" placeholder="Date of birth" asp-for="DateOfBirth"></div>
                            <div class="col-md-12"><label class="labels" asp-for="Email">Email</label><input type="email" class="form-control font-weight-bold" placeholder="Email" asp-for="Email"></div>
                            <input type="hidden" asp-for="Id" required />
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels" asp-for="Country">Country</label>
                                <select class="form-control font-weight-bold" asp-for="Country">
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        <option>@country</option>
                                    }
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label class="labels" asp-for="City">State/Region</label>
                                <select class="form-control font-weight-bold" asp-for="City">
                                    @foreach (var city in ViewBag.Cities)
                                    {
                                        <option>@city</option>
                                    }
                                </select>
                            </div>

                            <div class="col-md-6 mt-3">
                                <div class="form-check">
                                    <label class="form-check-label font-weight-bold">
                                        Show Weather Information
                                    </label>
                                    <input class="form-check-input ml-3" type="checkbox" asp-for="IsShowWeather" >
                                </div>
                            </div>

                            @if (ViewBag.Type == "Manager admin")
                            {
                                <input type="hidden" name="typeOperation" value="adminType">
                            }
                        </div>
                        <div>
                            @if (ViewBag.Errors != null)
                            {
                                <div>
                                    <ul>
                                        @foreach (string error in ViewBag.Errors)
                                        {
                                            <li class="ml"><strong style="color:red;">@error</strong></li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                        <div class="d-flex flex-row justify-content-center mt-3 mb-n2">
                            @if (ViewBag.Type != "Manager admin")
                            {
                                <a asp-action="DeleteUserById" asp-controller="User" asp-route-userId="@Model.Id"><button class="btn btn-danger mr-5" type="button">Delete Profile</button></a>
                                
                                <div class="ml-2"></div>
                            } 
                            <div class="mr-2"><button class="btn btn-success" type="submit">Save Profile</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
