@using TaskManager.Dto.Categories.Response
@model IEnumerable<CategoryDto>
@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout_task.cshtml";
}
<link href="~/CSS/StyleTaskHome.css" rel="stylesheet" />
<link href="~/CSS/StyleWeatherHome.css" rel="stylesheet" />

<div class='app'>
    <main class='project'>
        <div class='project-info'>
            <h1>Homepage</h1>
        </div>
        <div class='project-tasks'>
            <div class='project-column' >
                <div class='project-column-heading'>
                    <h2 class='project-column-heading__title'>Need make</h2>
                </div>

                    @foreach (CategoryDto category in Model)
                    {
                        foreach (TaskDto task in category.Tasks)
                        {
                            @if (task.Status == StatusTask.Active)
                            {
                                <div id="taskElem" class='task' draggable='true' data-task-id="@task.Id">
                                    <div class='task__tags'>
                                        <span class='task__tag' style="background-color:@category.Color">@category.Name</span>
                                        <div class="dropdown">
                                            <button class="mainmenubtn"></button>
                                            <div class="dropdown-child">
                                            <a asp-action="TaskDetailsById" asp-controller="Task" asp-route-taskId="@task.Id">Details</a>
                                                <a asp-action="TaskUpdate" asp-controller="Task" asp-route-taskId="@task.Id">Edit</a>
                                                <form method="post" asp-controller="Task" asp-action="DeleteTaskPost" asp-route-taskId="@task.Id">
                                                    <button type="submit" class="button_delete_task">Delete</button>
                                                </form>
                                                <form method="post" asp-controller="Task" asp-action="ChangeStatusTask" asp-route-taskId="@task.Id" asp-route-newStatus="@StatusTask.Done">
                                                    <button type="submit" class="button_done_task">Done</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <p>@task.Title</p>
                                    <div class='task__stats'>
                                        <span><time>@task.FinishTime.ToString("yyyy-MM-dd")</time></span>
                                    </div>
                                </div>
                            }
                        }
                    }
                
            </div>
            <div class='project-column'>
                <div class='project-column-heading'>
                    <h2 class='project-column-heading__title'>Done</h2>
                </div>

                    @foreach (CategoryDto category in Model)
                    {
                        foreach (TaskDto task in category.Tasks)
                        {
                            @if (task.Status == StatusTask.Done)
                            {
                                <div id="taskElem" class='task' draggable='true' data-task-id="@task.Id">
                                    <div class='task__tags'>
                                        <span class='task__tag' style="background-color:@category.Color">@category.Name</span>
                                        <div class="dropdown">
                                            <button class="mainmenubtn"></button>
                                            <div class="dropdown-child">
                                            <a asp-action="TaskDetailsById" asp-controller="Task" asp-route-taskId="@task.Id">Details</a>
                                                <a asp-action="TaskUpdate" asp-controller="Task" asp-route-taskId="@task.Id">Edit</a>
                                                <form method="post" asp-controller="Task" asp-action="DeleteTaskPost" asp-route-taskId="@task.Id">
                                                    <button type="submit" class="button_delete_task">Delete</button>
                                                </form>
                                                <form method="post" asp-controller="Task" asp-action="ChangeStatusTask" asp-route-taskId="@task.Id" asp-route-newStatus="@StatusTask.Active">
                                                    <button type="submit" class="button_done_task">Need Make</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <p>@task.Title</p>
                                    <div class='task__stats'>
                                        <span><time>@task.FinishTime.ToString("yyyy-MM-dd")</time></span>
                                    </div>
                                </div>
                            }
                        }
                    }
                
            </div>

            <div class='project-column'>
                <div class='project-column-heading'>
                    <h2 class='project-column-heading__title'>Overdue</h2>
                </div>
                    @foreach (CategoryDto category in Model)
                    {
                        foreach (TaskDto task in category.Tasks)
                        {
                            @if (task.Status == StatusTask.Overdue)
                            {
                                <div class='task' draggable='true' data-task-id="@task.Id">
                                    <div class='task__tags'>
                                        <span class='task__tag' style="background-color:@category.Color">@category.Name</span>
                                        <div class="dropdown">
                                            <button class="mainmenubtn"></button>
                                            <div class="dropdown-child">
                                            <a asp-action="TaskDetailsById" asp-controller="Task" asp-route-taskId="@task.Id">Details</a>
                                                <a asp-action="TaskUpdate" asp-controller="Task" asp-route-taskId="@task.Id">Edit</a>
                                                <form method="post" asp-controller="Task" asp-action="DeleteTaskPost" asp-route-taskId="@task.Id">
                                                    <button type="submit" class="button_delete_task">Delete</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <p>@task.Title</p>
                                    <div class='task__stats'>
                                        <span><time>@task.FinishTime.ToString("yyyy-MM-dd")</time></span>
                                    </div>
                                </div>
                            }
                        }
                    }
            
            </div>
        </div>
    </main>
    <aside class='task-details'>
        @if(Model.Count() != 0)
        {
            <div class='tag-progress'>
                <h2>Task Progress</h2>
                @foreach (CategoryDto category in Model)
                {
                    var countDoneTasks = category.Tasks?.Where(temp => temp.Status == StatusTask.Done).Count();
                    var countTask = @category.Tasks?.Where(temp => temp.Status != StatusTask.Overdue).Count();

                    if ((countTask + countDoneTasks) != 0)
                    {
                        <div class='tag-progress'>
                            <p>@category.Name <span>@countDoneTasks/@countTask</span></p>
                            <progress class="progress" style="background-color:@category.Color" max="@countTask" value="@countDoneTasks"> @countDoneTasks </progress>
                        </div>
                    }
                }
            </div>
        }

        @if(ViewBag.Weather != null)
        {
            WeatherDto weather = ViewBag.Weather;

            if (weather.Description.Contains("clouds"))
            {
                <div icon="cloudy">
                    <span class="cloud"></span>
                    <span class="cloud"></span>
                </div>
                <div id="weather_text">
                    <h3>@weather.Description</h3>
                    <h3>@weather.Temperature 'C</h3>
                    <h3>@weather.City</h3>
                </div>
            }
            else if (weather.Description.Contains("rain"))
            {
                <div icon="stormy" data-label="@weather.Description">
                    <span class="cloud"></span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div id="weather_text">
                    <h3>@weather.Description</h3>
                    <h3>@weather.Temperature 'C</h3>
                    <h3>@weather.City</h3>
                </div>
            }
            else if (weather.Description.Contains("snow"))
            {
                <div icon="snowy" data-label="@weather.Description">
                    <span class="snowman"></span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div id="weather_text">
                    <h3>@weather.Description</h3>
                    <h3>@weather.Temperature 'C</h3>
                    <h3>@weather.City</h3>
                </div>
            }
            else if (weather.Description.Contains("mist") || weather.Description.Contains("fog"))
            {
                <div icon="supermoon" data-label="@weather.Description">
                    <span class="moon"></span>
                    <span class="meteor"></span>
                </div>
                <div id="weather_text">
                    <h3>@weather.Description</h3>
                    <h3>@weather.Temperature 'C</h3>
                    <h3>@weather.City</h3>
                </div>
            }
            else
            {
                <div icon="sunny" data-label="@weather.Description">
                    <span class="sun"></span>
                </div>
                <div id="weather_text">
                    <h3>@weather.Description</h3>
                    <h3>@weather.Temperature 'C</h3>
                    <h3>@weather.City</h3>
                </div>
            }
        }

    </aside>
</div>

<script>

    document.addEventListener('DOMContentLoaded', (event) => {
        var dragSrcEl = null;

        function handleDragStart(e) {
            this.style.opacity = '0.1';
            this.style.border = '3px dashed #c4cad3';

            dragSrcEl = this;
            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }
        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }
            e.dataTransfer.dropEffect = 'move';

            return false;
        }
        function handleDragEnter(e) {
            this.classList.add('task-hover');
        }
        function handleDragLeave(e) {
            this.classList.remove('task-hover');
        }
        function handleDrop(e) {
            if (e.stopPropagation) {
                e.stopPropagation();
            }

            if (dragSrcEl != this) {
                dragSrcEl.innerHTML = this.innerHTML;
                this.innerHTML = e.dataTransfer.getData('text/html');
            }

            if (dragSrcEl != this) {
                var draggedTaskId = dragSrcEl.getAttribute('data-task-id');
                var droppedTaskId = this.getAttribute('data-task-id');

                fetch(`/Task/GetTaskDetails?taskId=${draggedTaskId}`)
                    .then(response => response.json())
                    .then(data => {
                        taskOne = data;

                        return fetch(`/Task/GetTaskDetails?taskId=${droppedTaskId}`);
                    })
                    .then(response => response.json())
                    .then(data => {
                        taskTwo = data;

                        console.log('Полученные данные taskOne:', taskOne);
                        console.log('Полученные данные taskTwo:', taskTwo);

                        if (taskOne.status != taskTwo.status) {
                            return fetch(`/Task/ChangeStatusApi?newStatus=${taskTwo.status}&taskId=${draggedTaskId}`);
                        }

                    })
                    .then(data => {
                        if (taskOne.status != taskTwo.status) {
                            return fetch(`/Task/ChangeStatusApi?newStatus=${taskOne.status}&taskId=${droppedTaskId}`);
                        }

                    })
                    .catch(error => console.error('Ошибка:', error));

                dragSrcEl.setAttribute('data-task-id', droppedTaskId);
                this.setAttribute('data-task-id', draggedTaskId);
            }

            return false;
        }
        function handleDragEnd(e) {
            this.style.opacity = '1';
            this.style.border = 0;

            items.forEach(function (item) {
                item.classList.remove('task-hover');
            });
        }
        let items = document.querySelectorAll('.task');
        items.forEach(function (item) {
            item.addEventListener('dragstart', handleDragStart, false);
            item.addEventListener('dragenter', handleDragEnter, false);
            item.addEventListener('dragover', handleDragOver, false);
            item.addEventListener('dragleave', handleDragLeave, false);
            item.addEventListener('drop', handleDrop, false);
            item.addEventListener('dragend', handleDragEnd, false);
        });
    });
</script>
