@model TaskUpdateRequest
@{
    ViewBag.Title = "Update Task";
    Layout = "~/Views/Shared/_Layout_task.cshtml";
}

<link href="~/CSS/StyleAddTask.css" rel="stylesheet" />

<div class="app">
    <div class="body-add">
        <form asp-controller="Task" asp-action="TaskUpdatePost" method="post">
            <div>
                <h1>Update Task</h1>
            </div>

            <div class="form-field">
                <input asp-for="Title" type="text" placeholder="Title" required />
            </div>

            <div class="form-field">
                <textarea asp-for="Description" placeholder="Write description for task">@ViewBag.TaskUpdate.Description</textarea>
            </div>

            <div class="form-field">
                <input asp-for="FinishTime" type="date" required />
            </div>

            <div class="form-field">
                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" required>
                    <option value="@Model.CategoryId">@Model.CategoryName</option>
                </select>
            </div>

            <input asp-for="Id" type="hidden" />

            <input asp-for="Status" type="hidden" />

            <div>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>

            <div class="form-field">
                <button class="btn-reg"><a asp-controller="Task" asp-action="Home">Home</a></button>
                <button class="btn" type="submit">Update</button>
            </div>

        </form>
    </div>
</div>